* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
  font-size: 10px;
}

@media (min-height: 800px) {
  .back-to-top {
    display: block;
  }
}

body{
  background-color: #050505;
  
}
   /* header section */
   header{  
    display: block;
    position:relative;
    top: 0;
    z-index: 1000;
        
    }
    
.headerNav{
  display: block;
  position: fixed;    
  top:0px;
  width: 100%;
  max-height: 60px;
  background-color: #333;
  align-items: baseline;
 

}
      /* Logo */
.Logo{
  color: white;
  width: 150px;
  float: left;
  padding:10px;
  cursor: pointer;
}
      /* dropdown  */

.dropdown {
  display: inline-block;
  margin-left: 10px;
  font-family: Arial, sans-serif;
  border: 1PX solid #454545;
  border-top: none;
  border-bottom: none;
  padding: none;
}

#dropdown-toggle {
  display: none;
  
}

.dropbtn{
  background-color: #212121;
  color: white;
  padding: 18px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-transform:uppercase ;
  
}
#dropdown-toggle:checked ~ .dropdown-content {
  display: block;
  height: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  box-shadow: 0px 8px 16px 0px #333333;
  z-index: 1;
  width: 65%;
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(20, 20, 20);
}

/*    end headnav dropdown  */

   /* right list on header Nav */
.LinkList{
 float: right;
 display: inline-flex;
 font-size: 30px;
 padding-right: 10px;
}
.desktop-btn ,.ipad-btn ,.phone-btn{
  border-left: 2px solid #454545;
  padding:5px 20px;
  width: 100%;
  cursor: pointer;
}

.cart-shopping,.Exit{
  width: 100%;
  margin: 0;
  padding:7px 10px;
  cursor: pointer;   
}


.cart-shopping{
  background-color:#7ac74e;
  
}
.LinkList i:not(.cart-shopping){
  color:#9c9c9c;
}
.LinkList  div:hover i{  
  color:white
}
.LinkList div:hover{
  background-color: black;
  color: white;
}

/* Loader Container */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #050505;
  z-index: 9999; /* Higher z-index to display above the header */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide-loader 6s forwards; /* Fade out after 6 seconds */
}

/* Loading Line */
.loading-line {
  position: fixed;
  top: 54px; /* Place below the header (adjust as needed) */
  left: 0;
  height: 8px;
  width: 0;
  background-color: rgb(255, 255, 255);
  animation: loading-line-animation 4s forwards, fade-out 1s 6s forwards;
  z-index: 998; /* Below header */
}

    /* Line Scale Loader */
    .line-scale > div {
      background-color: #fff;
      width: 4px;
      height: 35px;
      border-radius: 2px;
      margin: 2px;
      animation: line-scale 1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
      display: inline-block;
    }

    /* Animation Delay for Each Bar */
    .line-scale > div:nth-child(1) {
      animation-delay: -0.4s;
    }

    .line-scale > div:nth-child(2) {
      animation-delay: -0.3s;
    }

    .line-scale > div:nth-child(3) {
      animation-delay: -0.2s;
    }

    .line-scale > div:nth-child(4) {
      animation-delay: -0.1s;
    }

    .line-scale > div:nth-child(5) {
      animation-delay: 0s;
    }

    /* Keyframes for Line Scale Animation */
    @keyframes line-scale {
      0% {
        transform: scaley(1);
      }
      50% {
        transform: scaley(0.4);
      }
      100% {
        transform: scaley(1);
      }
    }

/* Keyframes for Loading Line Animation */
@keyframes loading-line-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Keyframes to Fade Out the Loading Line */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Keyframes for Hiding Loader */
@keyframes hide-loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.Page-nav {
  float: left;
  margin: auto;
  width: 100%;
 height: 900px;
  padding-top: 215px;
  background-color: black;
  /* position: relative; */
}
.Philosophy-nav{
  position: absolute;
  text-align: center;
  top: 30px;
  width: 75%;
  float: left;
  margin: auto;
  margin-top: 60px;
  align-items: baseline;
}
.header__content {
  width: 100%;
  position: relative;
  padding: 0;
  
 
}
.header__content a{
  text-decoration: none;
}
.header__logo {
  display: inline;
  margin-left: 250px;
  width: 25%;
}
.header__logo a {
  margin: 0 0 0 6px;
  padding: 0;
  outline: 0;
  border: none;
  transition: all 0.3s ease-in-out;
}
.header__logo a img {
  border: none;
}
.header__social {
  display: flex;
  width: 25%;
  list-style: none;
  font-size: 23px;
  line-height: 1;
  padding: 20px;
  position: absolute;
  top: 12px;
}
.header__search{
  display: inline;
  width: 25%;
  width: 200px;
  margin: 25px 80px;
  color: #ffff;
  position: absolute;
  
  

}
.header__search form{
 gap: 20px;
 font-size: 30px;
}
.header__social li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.header__social a {
  color: #FFFFFF;
}
.header__nav-wrap {
  margin-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  padding-top: 15px;
}
.header__nav {
  list-style: none;
  margin-left: 275px;
  padding: 0;
  font-family: "metropolis-medium", sans-serif;
  font-size: 15px;
}
.header__nav li {
  display: inline-block;
  position: relative;
  padding: 0 2rem;
}
.header__nav li.current > a {
  color: #FFFFFF;
}
.header__nav li.has-children {
  padding-right: 3.3rem;
}
.header__nav li a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  line-height: 39px;
}
.header__nav li ul {
  position: absolute;
  top: 45px;
  left: 0;
  font-size: 14px;
  margin: 0;
  padding: 1.8rem 0;
  background: #050505;
  border-radius: 0 0 3px 3px;
  z-index: 500;
  transform: translate3d(0, 15px, 0);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.header__nav li ul li {
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  min-height: 33px;
  width: 100%;
}
.header__nav li ul li a {
  display: block;
  white-space: nowrap;
  padding: 7.5px 3rem 7.5px 2rem;
  font-family: "metropolis-regular", sans-serif;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
}
.header__nav li.has-children > a::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  content: '';
  display: block;
  height: 5px;
  width: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 1.8rem;
  top: 21px;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header_nav li:hover > a, .header_nav li:focus > a {
  color: #FFFFFF;
}

.header_nav li:hover li, .header_nav li:focus li {
  background: transparent;
}

.header__nav li.current > a {
  color: #FFFFFF;
}

.header__nav li ul {
  position: absolute;
  top: 45px;
  left: 0;
  font-size: 14px;
  margin: 0;
  padding: 1.8rem 0;
  background: #050505;
  border-radius: 0 0 3px 3px;
  z-index: 500;
  -webkit-transform: translate3d(0, 15px, 0);
  -ms-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.header__nav  ul ul li{
  position: absolute;
  top: 0;
  left: 100%;
  left: calc(100% + 1px);
  border-radius: 0 0 3px 3px;
  padding-top: 1.2rem;
}

.header__nav li ul li {
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  min-height: 33px;
  width: 100%;
}

.header__nav li ul li a {
  display: block;
  white-space: nowrap;
  padding: 7.5px 3rem 7.5px 2rem;
  font-family: "metropolis-regular", sans-serif;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
}

.header_nav li ul li a:hover, .header_nav li ul li a:focus {
  color: #FFFFFF;
}

.header__nav li:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.featured__column-big{
  text-align: center;
  width: 85%;
  max-height: 600px;
  margin: 0px 80px;
  transition: transform 0.5s ease, filter 0.5s ease;
  
}
.featured__column-big div:hover{
  transform: scale(1); 
  filter: grayscale(50%) brightness(0.8);
}
.guiterman-pic{
  float: left;
  left: 0px;
  margin: auto;
  width:60%;
  height: 400px;
  position: relative;
  z-index: 22;
 
}
.guiterman-pic img{
 
  height: 100%;
  width: 100%;
}
.guiterman-pic button{
  position: absolute;
  z-index: 24;
  left: 140px;
  top: 40%;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.guiterman-pic h1{
  position: absolute;
  z-index: 24;
  left: 20px;
  bottom: 80px;
  font-size: 40px;
}
.guiterman-pic h1 a{
  text-decoration: none;
}

.guiterman-pic h1:hover{
  text-decoration: underline ;
  color: #fff;
  width: 100%;
  
}
.guiterman-pic button a{
    text-decoration: none;
    padding: 10px 30px;
    color: #ffff;
    background-color: #00acf0;

}
.guiterman-pic h1 a{
  text-decoration: none;
  color: #ffff;
}
.guiterman-pic ul  a{
  position: absolute;
  z-index: 24;
  left: 60px;
  bottom: 50px;
  font-size: 20px;
  text-decoration: none;
   color: #ffff;
}
.guiterman-pic ul li{
  position: absolute;
  z-index: 24;
  left: 60px;
  bottom: 20px;
  font-size: 10px;
  color: #ffff;
  text-decoration: none;
  list-style: none;

}
.featured__column-images{
  position: relative;
  z-index: 25;
  margin: 30px;
}
.featured__column-images button{
  position: absolute;
  z-index: 29;
  margin-top: 140px;
  margin-left: -50px;
  text-decoration: none;
  padding: 5px 10px;
  color: #ffff;
  background-color: #3ed339;
  border: none;
}
.featured__column-images h1 a{
  position: absolute;
  z-index: 29;
  color: #ffff;
  text-decoration: none;
  top: 150px;
  margin: 50px;
  

}
.featured__column-images a{
  text-decoration: none;
  color: #ffff;
  font-size: 15px;
}
.featured__column-images h1{
  margin-right: 350px;
}
.featured__column-images ul li{
  position: absolute;
  z-index: 29;
  list-style: none;
  color: #FFFF;
  font-size: 10px;
  margin-left: 750px;
  top: 250px;
 

}
.featured__column-images img{
  width: 400px;
}
.featured__column-images a:hover{
  text-decoration: underline ;
  color: #fff;
  width: 20%;
}
/* ===================================================================
 * # articls container
 *
 * ------------------------------------------------------------------- */

 .articles-container {
  width: 80%;
  margin:0px 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

}

.article {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.article:hover img{
  transform: scale(1.1);
}
.article:hover h3,.article:hover p {
  transform: translateY(-250%);
  bottom: 0;
  color:#ffffff;
}

.article:nth-child(1) {
  grid-row: span 2;
  
}
.article:nth-child(1) img{
  height: 80%;
  
}
.article:nth-child(2) {
  padding: 50px;
  grid-row: span 1.5;
}
.article:nth-child(2) p ,.article:nth-child(2) h3{
  color: #050505;
}

.article:nth-child(3) {
  grid-row: span 1;
}

.article:nth-child(4) {
  grid-row: span 1;
}
.article:nth-child(4) img{
  height: 80%;
}

.article:nth-child(5) {
  grid-row: span 2;
}
.article:nth-child(5) img{
  height: 40%;
}

.article:nth-child(6) {
  grid-row: span 1;
}
.article:nth-child(6) img{
  height: 50%;
}

.article:nth-child(7) {
  grid-row: span 1;
}
.article:nth-child(8) img{
  height: 80%;
}

.article:nth-child(8) {
  grid-row: span 1;
}

.article:nth-child(9) {
  grid-row: span 2;
}

.article:nth-child(10) {
  grid-row: span 1;
}

.article:nth-child(11) {
  grid-row: span 1;
}

.article:nth-child(12) {
  grid-row: span 1;
}
.article:nth-child(12) img{
  height: 80%;
}

.article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.article h3 {
  margin-top: 10px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article p {
  margin-top: 10px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.pgn {
  text-align: center;
  width: 40%;
  margin-left: 500px;
}

.pgn ul {
  display: flex;
  justify-content: center;
  gap: 5px;
  list-style: none;
}

.pgn__num,
.pgn__prev,
.pgn__next {
  display: inline-block;
  padding: 8px 12px;
  background: #151515;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}

.pgn__num:hover,
.pgn__prev:hover,
.pgn__next:hover {
  background: #007bff;
}

.pgn__num.current {
  background: #007bff;
}

.dots {
  padding: 8px 12px;
}


.d-flex h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
} 

.small-text {
  font-size: 0.85rem;
} 

.social-icons a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
} 

.social-icons a:hover {
  color: #007bff;
} 
/* Pagination */
.row {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
}
.popular-posts, .about-philosophy {
  width: 48%;
  
}
.popular-posts h2, .about-philosophy h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.posts {
  display: flex;
  margin: 15px 50px;
  text-align: center;
  padding: 40px;
}
.post{
  display: flex;
  margin-left: 80px;
}
.post-title{
  margin-left: 140px;
  margin-bottom: 50px;
}
.post img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  float: left;
  margin-bottom: 20px;
  
}

.post-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-info p {
  font-size: 14px;
  color: #666;
}
.about-philosophy{
  text-align: center;
  
}

.about-philosophy p {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
  margin-left: 60px;
  margin-top: 40px;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
}

.social-icons a:hover {
  color: #007bff;
}

/* Responsive */
@media (max-width: 1024px) {
  .content {
      flex-direction: column;
  }

  .popular-posts,
  .about-philosophy {
      width: 100%;
  }
}

@media (max-width: 768px) {
  .post {
      width: 100%;
  }
}
.tags{
  margin: 50px;
  background-color: inherit;
  text-align: center;

  
}
.tags .tag-buttons {
  width: calc(95%/2);
  margin-left: 25%;
}
.tags h2{
  margin-bottom: 20px;
}

.tags .tag-buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tags .tag-buttons button:hover {
  background-color: #555;
  color: white;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

.back-to-top a,
.back-to-top a:visited {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 5.4rem;
    width: 5.4rem;
    line-height: 5.4rem;
    text-align: center;
    background-image: url(image/icon-arrow-up.svg);
    background-color: #d13030;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 16px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.back-to-top a:hover,
.back-to-top a:focus {
    color: #FFFFFF;
    background-color: #0054a5;
}

.back-to-top.link-is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
  /* Back to Top Button */
  #backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #212121;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

#backToTopBtn:hover {
  background-color: orange; /* Change color on hover */
}

/* 
/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */

.footer {
  background-color: #1a1a1c;
  color: #fff;
  padding: 40px 0px;
  justify-content: center;
  
  
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 150px;
  padding-top: 100px;
  
}

.footer .column {
  flex: 1;
  width: 100%;
  
}

.footer h3 {
  width: 150px;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 21px;
 
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin: 5px 0;
  font-size: 20px;
}
.footer ul li:hover {
  cursor: pointer;
}

.footer p {
  margin-bottom: 40px;
  font-size: 20px;
}
.footer .email-container {
  display: flex;
  align-items: center;
  background-color: inherit;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
}

.footer .email-container input[type="email"] {
  border: none;
  padding: 12px;
  flex-grow: 1;
  background-color: black
}
.footer .email-container .mail-icon {
  padding: 9px;
  background-color: black;
}
.footer .email-container i {
  font-size: 20px;
  color: white;
  
}
.footer .email-container:focus-within .mail-icon {
  display: none;
}
.footer .email-container button {
  top: 0;
  right: 0;
  color: #FFFFFF;
  background: #0054a5;
  border-color: #0054a5;
  padding: 11px;
  border-radius: 0 5px 5px 0;
}

.footer .email-container button:hover {
  cursor: pointer;
}

.footer .copyright {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  
}
.footer .copyright a{
  color: #0054a5;
  margin: 0px 10px;
}